<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_server_root"
              name="Servers Proeq">


        <menuitem id="menu_svmetrics"
                  name="Metrics"
                  parent="menu_server_root"/>


        <menuitem id="menu_svreports"
                  name="Reports"
                  parent="menu_server_root"/>
    </menuitem>

</odoo>